.console{
	display: flex;
	background-color: #fff;
	height: 100px;
	box-shadow: inset 0 1px 0 #d4d4d4;
	padding: 5px 10px;
	overflow-y: auto;
}

.btn-grp{
	flex: 1;
	max-width: 60px;
	padding: 0 5px 0 0;
}

.btn{
	display: block;
	width: 60px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	margin: 10px 0;
	/*line-height: 40px;*/
}

.result{
	flex: 1;
	word-break: break-all;
	line-height: 16px;
	border-left: 1px solid #ddd;
	padding: 10px;
}
